.custom-swal .swal-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-restore {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-restore:hover {
  background-color: #218838;
}

.btn-delete:hover {
  background-color: #c82333;
}
